<ActionBar title="Details Updated"></ActionBar>

<FlexboxLayout flexDirection="column">
  <FlexboxLayout class="m-15">
    <Label nsRouterLink="/auth/login" text="Login"></Label>
    <Label nsRouterLink="/auth/logging-in" text="LoggingIn"></Label>
    <Label nsRouterLink="/auth/logging-out" text="LoggingOut"></Label>
    <Label nsRouterLink="/auth/forgot-password" text="ForgotPassword"></Label>
    <Label class="h2" [text]="item.id + '. '"></Label>
    <Label class="h2" [text]="item.name"></Label>
  </FlexboxLayout>
  <Label class="h4 m-15" [text]="item.role"></Label>
</FlexboxLayout>
