// Full Calendar Overriders
.fc {
  // @apply h-full;
}

.fc-toolbar {
  padding: 1rem;
  margin-bottom: 0 !important;
  @apply border-b border-gray-200;

  .fc-toolbar-chunk {
    .fc-toolbar-title {
      @apply font-bold text-black;
    }

    .fc-button-primary {
      @apply bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-400 outline-none border-none;

      &:disabled {
        @apply bg-primary-300 hover:bg-primary-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-300 outline-none border-none
      }
    }
  }
}

.fc-scrollgrid {
  &.table-bordered {
    border: 0 !important;
  }
}

.fc-col-header {
  height: 52px;
  line-height: 52px;
  vertical-align: middle;
}

.fc-theme-standard .fc-scrollgrid {
  border: none !important;
}
