<div [@fadeAnimation] class="dialog-wrapper">
  <div [@fadeAnimation] class="dialog-overlay" aria-hidden="true"></div>

  <!-- This element is to trick the browser into centering the modal contents. -->
  <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
  
  <div class="dialog-content-wrapper">
    <ng-container [ngSwitch]="contentType">
      <ng-container *ngSwitchCase="'string'">
        <div class="box">
          <div [innerHTML]="content"></div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'template'">
        <ng-container *ngTemplateOutlet="content; context: context"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'component'">
        <ng-container *ngComponentOutlet="content"></ng-container>
      </ng-container>

    </ng-container>
  </div>
</div>

<!-- You can also add a global close button -->
<button 
    (click)="close()" 
    class="dialog-close"
    aria-label="close">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
  </svg>
</button>
