<xyz-split-panel-with-menu [@fadeAnimation]>
    <div xyzSplitPanelMenu class="split-panel-menu-group">
      <a  href="javascript.void(0)" role="button" class="split-panel-menu-button active">
        <ng-icon class="split-panel-menu-icon" name="hero-calendar" size="1.5em"></ng-icon>
        <span class="split-panel-menu-label">Calendar</span>
      </a>
      <a (click)="onShowSettingsDialog()" role="button" class="split-panel-menu-button">
        <ng-icon class="split-panel-menu-icon" name="hero-cog" size="1.5em"></ng-icon>
        <span class="split-panel-menu-label">Settings</span>
      </a>
    </div>

  <div xyzSplitPanelContent class="bg-white h-full w-full border-l border-gray-200">
    <full-calendar
        #calendar
        [options]="calendarOptions">
    </full-calendar>
  </div>
</xyz-split-panel-with-menu>